.cards {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 64px;
  /* -moz-background-inline-policy: 10px; */
  
}

.container {
  width: calc(40.33% - 89px);
  margin-bottom: 1px;
}

.errorStyle {
  width: calc(40.33% - 89px);
  margin-bottom: 1px;
}

.text {
  /* background-image: url("../img/he.jpg"); */
  background-image: url("../img/corrugado.jpg");
  background-position: center;
    background-size: 377px 120px;
    background-color: #85603559;
    border-radius: 31px;
    color: #68222294;
    width: 268px;
    height: 40px;
    padding: 27px;
    font-family: cursive;
    font-size: 22px;
    opacity: 0.9;
    margin: -9px 17px;
}

.img {
  background-color: rgb(112 78 38 / 21%);
  padding: 10px;
  height: 325px;
  width: 325px;
  border-radius: 50px;
  box-shadow: 17px -11px 44px rgb(58 42 10 / 57%);
}

.genreContainer {
  display: flex;
  color: #915f5f;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.genre {
  background-color: #ffffff;
  border-radius: 50px;
  padding: 5px 15px;
  margin: 5px;
  font-size: 14px;
  font-family: cursive;
}

